{% extends "base_generic.html" %}

{% block content %}
<h1> {{ conference.name }}</h1>
{% if messages %}
    {% for message in messages %}
    <p {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message.message}}</p>
    {% endfor %}
{% endif %}

    <p><strong>Program committee members:</strong>
        {% if PCM%}
            <ul>
                {% for member in PCM %}
                    <li> {{member}}</li>
                {% endfor %}
            </ul>
        {% else %}
            No program committee members have been added.
        {% endif %}
    </p>
<p>You can add members to the programm committee by filling the form below.</p>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Save">
</form>


{% endblock %}