{% extends "base_generic.html" %}

{% block content %}
 <h1>Title: {{ conferencesubmissions.conference.name }}</h1>

  <p><strong>Title:</strong> {{ conferencesubmissions.title }}</p>
  <p><strong>Authors:</strong>
   {% for author in conferencesubmissions.authors.all %}
   {{author}}
   <br/>
   {% endfor%}
  </p>
  <p><strong>Abstract:</strong> {{ conferencesubmissions.abstract }}</p>
  <p><strong>File:</strong> <a href="{{ conferencesubmissions.paper_file.url }}"> download file</a></p>
  <p><strong>Submission date:</strong> {{ conferencesubmissions.submission_date }}</p>

<p><a href="{% url 'submission-update' pk=conferencesubmissions.id %}">Update submission</a></p>
<p><a href="{% url 'submission-delete' pk=conferencesubmissions.id %}">Delete submission</a></p>

{% endblock %}

    {% block sidebar_conferences %} {% endblock %}
