{% extends "base_generic.html" %}

{% block content %}
    <h1>Title: {{ conference.name }}</h1>

    <p><strong>Acronym:</strong> {{ conference.acronym }}</p>
    <p><strong>Web page:</strong> {{ conference.web_page }}</p>
    <p><strong>Venue:</strong> {{ conference.venue }}</p>
    <p><strong>City:</strong> {{ conference.city }}</p>
    <p><strong>Country:</strong> {{ conference.country }}</p>
    <p><strong>Start date:</strong> {{ conference.start_date }}</p>
    <p><strong>End date:</strong> {{ conference.end_date }}</p>
    <p><strong>Submission deadline:</strong> {{ conference.submission_deadline }}</p>
    <p><strong>phase:</strong> {{ conference.get_phase_display }}</p>
    <p><strong>Program committee members:</strong>
        {% if PCM%}
            <ul>
                {% for member in PCM %}
                    <li> {{member}}</li>
                {% endfor %}
            </ul>
        {% else %}
            No program committee members have been added.
        {% endif %}
    </p>
    <p><strong>Chair:</strong> {{ conference.chair }}</p>

    <a href="{% url 'invite-pcm' pk=conference.CID %}"> <button> Manage program committee members</button></a>

      {% if conference.phase == 0 %}
        <a href="{% url 'next-phase' pk=conference.CID %}"> <button> Switch to submission phase </button></a>
      {% elif conference.phase == 1 %}
        <a href="{% url 'next-phase' pk=conference.CID %}"> <button> Switch to review phase</button> </a>
      {% elif conference.phase == 2 %}
        <a href="{% url 'next-phase' pk=conference.CID %}"> <button> Switch to discussion phase</button> </a>
      {% elif conference.phase == 3 %}
        <a href="{% url 'next-phase' pk=conference.CID %}"> <button> Switch to notification phase</button></a>
      {% endif %}


    <a href="{% url 'view-submissions' pk=conference.CID %}"> <button>  View submissions </button></a>
    <a href="{% url 'conference-delete' pk=conference.CID %}"> <button> Delete the conference</button> </a>

{% endblock %}

{% block sidebar_conferences %} {% endblock %}
