{% extends "base_generic.html" %}

{% block content %}
 <h1> {{ submission_details.conference.name }}</h1>

  <p><strong>Title:</strong> {{ submission_details.title }}</p>
  <p><strong>Authors:</strong>
   {% for author in submission_details.authors.all %}
   {{author}}
   <br/>
   {% endfor %}
  </p>
  <p><strong>Abstract:</strong> {{ submission_details.abstract }}</p>
  <p><strong>File:</strong> <a href="{{ submission_details.paper_file.url }}"> download file</a></p>
  <p><strong>Submission date:</strong> {{ submission_details.submission_date }}</p>
  <p><strong>Reviewers:</strong>
  {% if submission_details.reviewers.all.count > 0 %}
   {% for reviewer in submission_details.reviewers.all%}
      <p> {{ reviewer }} <a href="{% url 'delete-reviewer' submid=submission_details.id reviewerid=reviewer.id %}"> Delete</a></p>
   {% endfor %}
  {% else %}
    No reviewers are assigned for this submission.
   {% endif %}
  </p>
  <p><a href="{% url 'add-reviewer' pk=submission_details.pk %}"> Assign reviewers</a></p>

{% endblock %}

    {% block sidebar_conferences %} {% endblock %}
